{% extends 'base.html' %}
{% block scripts %}<script src="/media/js/bootstrap.js"></script>
<script src="media/js/jquery.js"></script>
<script src="media/js/bootstrap-modal.js"></script>



{% endblock %}


<!--==============================content================================-->
 <div class="container">
     
{% block content %}
{% load crispy_forms_tags %}
    
    <div class="bs-header" id="content"> </div>
                <div class = "alert">
                    <p class="">Вы можете попросить людей из нашего сообщества сделать что-то нужное для вас. После этого вам нужно будет выполнить любые три просьбы других людей на сайте.</p>
                </div>
                    <div class="bootform">
                
                {% crispy form form.helper %}
                
                </div>
        {% if user.is_authenticated %}
        <p><a data-toggle="modal" href="#example" class="btn btn-success btn-large btn-block">Есть просьба!</a></p>
        {% else %}
         <p> Прежде чем присоединиться к сообществу вы должны <a href="/register"> зарегистрироваться </a> </p>
        {% endif %}

<div class="list-group left col-xs-6">
    <h2 class=" ">Важные просьбы</h2>
  {% for task in important_tasks %}
  <a href="/task/{{ task.id }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ task.title }}</h4>
    <p class="list-group-item-text">{{ task.description|slice:"100" }}</p>
  </a>
  {% endfor %}
  
</div>

<div class="list-group right col-xs-6">
    <h2 class=" ">Свежие просьбы</h2>
  {% for task in fresh_tasks %}
  <a href="/task/{{ task.id }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ task.title }}</h4>
    <p class="list-group-item-text">{{ task.description|slice:"100" }}</p>
  </a>
  {% endfor %}
 
</div>



<div class="container"><a href="/tasks" class="btn btn-primary btn-lg btn-block">Больше просьб</a> </div>
      
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  


 {% endblock %}   
</div>

