{% extends 'base.html' %}
{% block content %}
<!--==============================content================================-->
<section class="bs-header">
  <div id="form" class="find">
            <input type="text" value="Поиск" onblur="if(this.value=='') this.value='Поиск'" onfocus="if(this.value =='Поиск' ) this.value=''">
        </div>
    
        
      <h2>Актуальные просьбы</h2>
   <div class="list-group left col-xs-9">
    {% for task in tasks %}
        
           
            <a href="/task/{{ task.id }}" class="list-group-item ">
               
                 <h4 class="list-group-item-heading">{{ task.title }}</h4>
                 <p class="list-group-item-text">
                    {{ task.description|slice:"100" }}
                 </p>
              
            </a>
            
         
    {% endfor %}
   </div>
 
</section>
{% endblock %}
